<div class="form-group">
	<label for="title" class="col-sm-2 control-label">Title</label>
	<div class="col-sm-10">
		<input type="text" ng-model="movie.username" class="form-control" id="username" placeholder="Username" />
	</div>
</div>
<div class="form-group">
	<label for="year" class="col-sm-2 control-label">User type</label>
	<div class="col-sm-10">
		<input type="text" ng-model="movie.type" class="form-control" id="type" placeholder="Type" />
	</div>
</div>
<div class="form-group">
	<label for="director" class="col-sm-2 control-label">Email</label>
	<div class="col-sm-10">
		<input type="text" ng-model="movie.email" class="form-control" id="email" placeholder="Email" />
	</div>
</div>
<div class="form-group">
	<label for="plot" class="col-sm-2 control-label">Telephone</label>
	<div class="col-sm-10">
		<input type="text" ng-model="movie.telephone" class="form-control" id="plot" placeholder="Telephone" />
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<input type="submit" class="btn btn-primary" value="Save" />
	</div>
</div>